# --- OS & Editor ---
.DS_Store
**/.DS_Store
.vscode/
*.code-workspace

# --- Deployment/SFTP Profile ---
sftp.json

# --- Runtime/Uploads/Logs ---
uploads/
**/uploads/
*.log
**/*.log

# --- Projekt: sensible Dateien ---
# Konfig muss im Projekt liegen, soll aber NIE ins Repo
**/im3_config.php

# Cron-Log ignorieren
**/im3_cron.log

**/im3_cron.php

**/im3_config.json
*.env