*sftp.json
.vscode/
uploads/
.ds_store
*/im3_semesterporjekt/im3_config.php //muss im projekt sein, darf aber nicht ins repo
*/im3_semesterprojekt/im3_cron.php

*/junk/config.php
*/junk/configtest.php
*/im3_sarina/config.php