# Allow cross-origin requests to your JSON endpoint
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
  Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>

# Make sure PHP handles .php files (usual default on Infomaniak)
AddType application/x-httpd-php .php