.d-home {
  	width: 100%;
  	position: relative;
  	background-color: #1a482b;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	text-align: left;
  	font-size: 60px;
  	color: #fff;
  	font-family: 'DM Sans';
}
.d-hero {
  	align-self: stretch;
  	background-color: #1a482b;
  	height: 1024px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	padding: 45px 20px;
  	box-sizing: border-box;
  	gap: 142px;
  	font-family: 'Poster Gothic Cond ATF';
}
.d-text-hero {
  	width: 480px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 20px;
  	box-sizing: border-box;
  	gap: 16px;
}
.wie-viele-personen {
  	align-self: stretch;
  	position: relative;
}
.relativ-zur-stadiongrsse {
  	align-self: stretch;
  	position: relative;
  	font-size: 40px;
  	font-weight: 500;
}
.d-grafik-hero {
  	width: 608px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	position: relative;
  	gap: 69px;
  	text-align: center;
  	font-size: 40px;
}
.component-1 {
  	align-self: stretch;
  	position: relative;
  	height: 518.4px;
  	z-index: 0;
}
.component-1-child {
  	position: absolute;
  	height: 56.23%;
  	width: 69.74%;
  	top: 26.04%;
  	right: 15.14%;
  	bottom: 17.73%;
  	left: 15.13%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.component-1-item {
  	position: absolute;
  	height: 91.71%;
  	width: 100%;
  	top: 8.3%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.component-1-inner {
  	position: absolute;
  	height: 16.13%;
  	width: 66.02%;
  	top: 0%;
  	right: 16.89%;
  	bottom: 83.87%;
  	left: 17.09%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.kybunpark {
  	position: absolute;
  	height: 8.68%;
  	width: 65.95%;
  	top: 1.24%;
  	left: 17.11%;
  	font-weight: 500;
  	display: inline-block;
}
.personen-parent {
  	display: flex;
  	align-items: flex-start;
  	gap: 69px;
  	z-index: 1;
  	text-align: left;
}
.personen {
  	position: relative;
  	font-weight: 500;
}
.d-random-balls {
  	width: 375px;
  	position: absolute;
  	margin: 0 !important;
  	top: 168.21px;
  	left: 113px;
  	height: 225px;
  	overflow: hidden;
  	flex-shrink: 0;
  	z-index: 2;
}
.d-football-icon {
  	position: absolute;
  	top: 61px;
  	left: 52px;
  	width: 10px;
  	height: 10px;
}
.d-home-d-football-icon {
  	position: absolute;
  	top: 35.32px;
  	left: 53.02px;
  	width: 10px;
  	height: 10px;
}
.d-football-icon2 {
  	position: absolute;
  	top: 13.32px;
  	left: 34.02px;
  	width: 10px;
  	height: 10px;
}
.d-football-icon3 {
  	position: absolute;
  	top: 18.32px;
  	left: 22.02px;
  	width: 10px;
  	height: 10px;
}
.d-football-icon4 {
  	position: absolute;
  	top: 81.32px;
  	left: 12.02px;
  	width: 10px;
  	height: 10px;
}
.d-football-icon5 {
  	position: absolute;
  	top: 79px;
  	left: 90px;
  	width: 10px;
  	height: 11px;
}
.d-football-icon6 {
  	position: absolute;
  	top: 53.32px;
  	left: 91.02px;
  	width: 10px;
  	height: 11px;
}
.d-football-icon7 {
  	position: absolute;
  	top: 31.32px;
  	left: 72.02px;
  	width: 10px;
  	height: 11px;
}
.d-football-icon8 {
  	position: absolute;
  	top: 36.32px;
  	left: 60.02px;
  	width: 10px;
  	height: 11px;
}
.d-football-icon9 {
  	position: absolute;
  	top: 99.32px;
  	left: 50.02px;
  	width: 10px;
  	height: 11px;
}
.d-football-icon10 {
  	position: absolute;
  	top: 92px;
  	left: 46px;
  	width: 10px;
  	height: 10px;
}
.d-football-icon11 {
  	position: absolute;
  	top: 72px;
  	left: 15px;
  	width: 10px;
  	height: 11px;
}
.d-football-icon12 {
  	position: absolute;
  	top: 37px;
  	left: 17px;
  	width: 10px;
  	height: 11px;
}
.d-football-icon13 {
  	position: absolute;
  	top: 53.58px;
  	left: 60.19px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon14 {
  	position: absolute;
  	top: 71.88px;
  	left: 98.41px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon15 {
  	position: absolute;
  	top: 46.2px;
  	left: 99.42px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon16 {
  	position: absolute;
  	top: 24.2px;
  	left: 80.42px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon17 {
  	position: absolute;
  	top: 29.2px;
  	left: 68.42px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon18 {
  	position: absolute;
  	top: 92.2px;
  	left: 58.42px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon19 {
  	position: absolute;
  	top: 84.8px;
  	left: 53.73px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon20 {
  	position: absolute;
  	top: 59.12px;
  	left: 54.74px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon21 {
  	position: absolute;
  	top: 37.12px;
  	left: 35.74px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon22 {
  	position: absolute;
  	top: 42.12px;
  	left: 23.74px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon23 {
  	position: absolute;
  	top: 105.12px;
  	left: 13.74px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon24 {
  	position: absolute;
  	top: 64.88px;
  	left: 23.05px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon25 {
  	position: absolute;
  	top: 29.9px;
  	left: 25.2px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon26 {
  	position: absolute;
  	top: 67.98px;
  	left: 68.67px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon27 {
  	position: absolute;
  	top: 42.3px;
  	left: 69.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon28 {
  	position: absolute;
  	top: 20.3px;
  	left: 50.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon29 {
  	position: absolute;
  	top: 25.3px;
  	left: 38.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon30 {
  	position: absolute;
  	top: 88.3px;
  	left: 28.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon31 {
  	position: absolute;
  	top: 86.28px;
  	left: 106.89px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon32 {
  	position: absolute;
  	top: 60.6px;
  	left: 107.9px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon33 {
  	position: absolute;
  	top: 38.6px;
  	left: 88.9px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon34 {
  	position: absolute;
  	top: 43.6px;
  	left: 76.9px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon35 {
  	position: absolute;
  	top: 106.6px;
  	left: 66.9px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon36 {
  	position: absolute;
  	top: 99.2px;
  	left: 62.21px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon37 {
  	position: absolute;
  	top: 73.52px;
  	left: 63.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon38 {
  	position: absolute;
  	top: 51.52px;
  	left: 44.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon39 {
  	position: absolute;
  	top: 56.52px;
  	left: 32.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon40 {
  	position: absolute;
  	top: 119.52px;
  	left: 22.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon41 {
  	position: absolute;
  	top: 79.28px;
  	left: 31.53px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon42 {
  	position: absolute;
  	top: 44.3px;
  	left: 33.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon43 {
  	position: absolute;
  	top: 66.36px;
  	left: 76.74px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon44 {
  	position: absolute;
  	top: 40.69px;
  	left: 77.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon45 {
  	position: absolute;
  	top: 18.69px;
  	left: 58.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon46 {
  	position: absolute;
  	top: 23.69px;
  	left: 46.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon47 {
  	position: absolute;
  	top: 86.69px;
  	left: 36.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon48 {
  	position: absolute;
  	top: 84.67px;
  	left: 114.96px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon49 {
  	position: absolute;
  	top: 58.99px;
  	left: 115.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon50 {
  	position: absolute;
  	top: 36.99px;
  	left: 96.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon51 {
  	position: absolute;
  	top: 41.99px;
  	left: 84.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon52 {
  	position: absolute;
  	top: 104.99px;
  	left: 74.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon53 {
  	position: absolute;
  	top: 97.58px;
  	left: 70.28px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon54 {
  	position: absolute;
  	top: 71.91px;
  	left: 71.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon55 {
  	position: absolute;
  	top: 49.91px;
  	left: 52.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon56 {
  	position: absolute;
  	top: 54.91px;
  	left: 40.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon57 {
  	position: absolute;
  	top: 117.91px;
  	left: 30.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon58 {
  	position: absolute;
  	top: 77.67px;
  	left: 39.6px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon59 {
  	position: absolute;
  	top: 42.68px;
  	left: 41.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon60 {
  	position: absolute;
  	top: 53.45px;
  	left: 70.82px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon61 {
  	position: absolute;
  	top: 71.75px;
  	left: 109.04px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon62 {
  	position: absolute;
  	top: 46.07px;
  	left: 110.05px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon63 {
  	position: absolute;
  	top: 24.07px;
  	left: 91.05px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon64 {
  	position: absolute;
  	top: 29.07px;
  	left: 79.05px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon65 {
  	position: absolute;
  	top: 92.07px;
  	left: 69.05px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon66 {
  	position: absolute;
  	top: 84.67px;
  	left: 64.36px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon67 {
  	position: absolute;
  	top: 58.99px;
  	left: 65.38px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon68 {
  	position: absolute;
  	top: 36.99px;
  	left: 46.38px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon69 {
  	position: absolute;
  	top: 41.99px;
  	left: 34.38px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon70 {
  	position: absolute;
  	top: 104.99px;
  	left: 24.38px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon71 {
  	position: absolute;
  	top: 64.75px;
  	left: 33.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon72 {
  	position: absolute;
  	top: 29.76px;
  	left: 35.83px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon73 {
  	position: absolute;
  	top: 56.68px;
  	left: 76.74px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon74 {
  	position: absolute;
  	top: 31px;
  	left: 77.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon75 {
  	position: absolute;
  	top: 9px;
  	left: 58.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon76 {
  	position: absolute;
  	top: 14px;
  	left: 46.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon77 {
  	position: absolute;
  	top: 77px;
  	left: 36.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon78 {
  	position: absolute;
  	top: 74.98px;
  	left: 114.96px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon79 {
  	position: absolute;
  	top: 49.3px;
  	left: 115.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon80 {
  	position: absolute;
  	top: 27.3px;
  	left: 96.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon81 {
  	position: absolute;
  	top: 32.3px;
  	left: 84.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon82 {
  	position: absolute;
  	top: 95.3px;
  	left: 74.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon83 {
  	position: absolute;
  	top: 87.9px;
  	left: 70.28px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon84 {
  	position: absolute;
  	top: 62.22px;
  	left: 71.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon85 {
  	position: absolute;
  	top: 40.22px;
  	left: 52.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon86 {
  	position: absolute;
  	top: 45.22px;
  	left: 40.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon87 {
  	position: absolute;
  	top: 108.22px;
  	left: 30.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon88 {
  	position: absolute;
  	top: 67.98px;
  	left: 39.6px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon89 {
  	position: absolute;
  	top: 32.99px;
  	left: 41.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon90 {
  	position: absolute;
  	top: 50.76px;
  	left: 79.43px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon91 {
  	position: absolute;
  	top: 69.06px;
  	left: 117.65px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon92 {
  	position: absolute;
  	top: 43.38px;
  	left: 118.67px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon93 {
  	position: absolute;
  	top: 21.38px;
  	left: 99.67px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon94 {
  	position: absolute;
  	top: 26.38px;
  	left: 87.67px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon95 {
  	position: absolute;
  	top: 89.38px;
  	left: 77.67px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon96 {
  	position: absolute;
  	top: 81.97px;
  	left: 72.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon97 {
  	position: absolute;
  	top: 56.3px;
  	left: 73.99px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon98 {
  	position: absolute;
  	top: 34.3px;
  	left: 54.99px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon99 {
  	position: absolute;
  	top: 39.3px;
  	left: 42.99px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon100 {
  	position: absolute;
  	top: 102.3px;
  	left: 32.99px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon101 {
  	position: absolute;
  	top: 62.06px;
  	left: 42.29px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon102 {
  	position: absolute;
  	top: 27.07px;
  	left: 44.45px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon103 {
  	position: absolute;
  	top: 44.83px;
  	left: 64.9px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon104 {
  	position: absolute;
  	top: 63.14px;
  	left: 103.12px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon105 {
  	position: absolute;
  	top: 37.46px;
  	left: 104.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon106 {
  	position: absolute;
  	top: 15.46px;
  	left: 85.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon107 {
  	position: absolute;
  	top: 20.46px;
  	left: 73.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon108 {
  	position: absolute;
  	top: 83.46px;
  	left: 63.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon109 {
  	position: absolute;
  	top: 76.05px;
  	left: 58.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon110 {
  	position: absolute;
  	top: 50.38px;
  	left: 59.46px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon111 {
  	position: absolute;
  	top: 28.38px;
  	left: 40.46px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon112 {
  	position: absolute;
  	top: 33.38px;
  	left: 28.46px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon113 {
  	position: absolute;
  	top: 96.38px;
  	left: 18.46px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon114 {
  	position: absolute;
  	top: 56.14px;
  	left: 27.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon115 {
  	position: absolute;
  	top: 21.15px;
  	left: 29.91px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon116 {
  	position: absolute;
  	top: 39.45px;
  	left: 71.9px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon117 {
  	position: absolute;
  	top: 57.75px;
  	left: 110.11px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon118 {
  	position: absolute;
  	top: 32.08px;
  	left: 111.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon119 {
  	position: absolute;
  	top: 10.08px;
  	left: 92.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon120 {
  	position: absolute;
  	top: 15.08px;
  	left: 80.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon121 {
  	position: absolute;
  	top: 78.08px;
  	left: 70.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon122 {
  	position: absolute;
  	top: 70.67px;
  	left: 65.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon123 {
  	position: absolute;
  	top: 44.99px;
  	left: 66.45px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon124 {
  	position: absolute;
  	top: 22.99px;
  	left: 47.45px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon125 {
  	position: absolute;
  	top: 27.99px;
  	left: 35.45px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon126 {
  	position: absolute;
  	top: 90.99px;
  	left: 25.45px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon127 {
  	position: absolute;
  	top: 50.76px;
  	left: 34.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon128 {
  	position: absolute;
  	top: 15.77px;
  	left: 36.91px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon129 {
  	position: absolute;
  	top: 36.22px;
  	left: 63.29px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon130 {
  	position: absolute;
  	top: 54.52px;
  	left: 101.5px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon131 {
  	position: absolute;
  	top: 67.44px;
  	left: 56.83px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon132 {
  	position: absolute;
  	top: 41.77px;
  	left: 57.84px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon133 {
  	position: absolute;
  	top: 19.77px;
  	left: 38.84px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon134 {
  	position: absolute;
  	top: 24.77px;
  	left: 26.84px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon135 {
  	position: absolute;
  	top: 87.77px;
  	left: 16.84px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon136 {
  	position: absolute;
  	top: 47.53px;
  	left: 26.15px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon137 {
  	position: absolute;
  	top: 12.54px;
  	left: 28.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon138 {
  	position: absolute;
  	top: 42.14px;
  	left: 55.21px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon139 {
  	position: absolute;
  	top: 60.44px;
  	left: 93.43px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon140 {
  	position: absolute;
  	top: 34.77px;
  	left: 94.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon141 {
  	position: absolute;
  	top: 12.77px;
  	left: 75.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon142 {
  	position: absolute;
  	top: 17.77px;
  	left: 63.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon143 {
  	position: absolute;
  	top: 80.77px;
  	left: 53.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon144 {
  	position: absolute;
  	top: 73.36px;
  	left: 48.75px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon145 {
  	position: absolute;
  	top: 47.69px;
  	left: 49.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon146 {
  	position: absolute;
  	top: 25.69px;
  	left: 30.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon147 {
  	position: absolute;
  	top: 30.69px;
  	left: 18.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon148 {
  	position: absolute;
  	top: 93.69px;
  	left: 8.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon149 {
  	position: absolute;
  	top: 53.45px;
  	left: 18.07px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon150 {
  	position: absolute;
  	top: 43px;
  	left: 51px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon151 {
  	position: absolute;
  	top: 35.68px;
  	left: 47.14px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon152 {
  	position: absolute;
  	top: 53.98px;
  	left: 85.35px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon153 {
  	position: absolute;
  	top: 66.9px;
  	left: 40.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon154 {
  	position: absolute;
  	top: 46.99px;
  	left: 10px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon155 {
  	position: absolute;
  	top: 12px;
  	left: 12.15px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon156 {
  	position: absolute;
  	top: 41.6px;
  	left: 43.91px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon157 {
  	position: absolute;
  	top: 59.91px;
  	left: 82.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon158 {
  	position: absolute;
  	top: 34.23px;
  	left: 83.14px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon159 {
  	position: absolute;
  	top: 12.23px;
  	left: 64.14px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon160 {
  	position: absolute;
  	top: 17.23px;
  	left: 52.14px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon161 {
  	position: absolute;
  	top: 80.23px;
  	left: 42.14px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon162 {
  	position: absolute;
  	top: 72.82px;
  	left: 37.45px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon163 {
  	position: absolute;
  	top: 52.91px;
  	left: 6.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon164 {
  	position: absolute;
  	top: 17.92px;
  	left: 8.92px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon165 {
  	position: absolute;
  	top: 46.99px;
  	left: 51.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon166 {
  	position: absolute;
  	top: 65.29px;
  	left: 89.66px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon167 {
  	position: absolute;
  	top: 39.61px;
  	left: 90.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon168 {
  	position: absolute;
  	top: 17.61px;
  	left: 71.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon169 {
  	position: absolute;
  	top: 22.61px;
  	left: 59.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon170 {
  	position: absolute;
  	top: 85.61px;
  	left: 49.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon171 {
  	position: absolute;
  	top: 78.21px;
  	left: 44.98px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon172 {
  	position: absolute;
  	top: 52.53px;
  	left: 46px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon173 {
  	position: absolute;
  	top: 30.53px;
  	left: 27px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon174 {
  	position: absolute;
  	top: 35.53px;
  	left: 15px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon175 {
  	position: absolute;
  	top: 98.53px;
  	left: 5px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon176 {
  	position: absolute;
  	top: 58.29px;
  	left: 14.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon177 {
  	position: absolute;
  	top: 23.3px;
  	left: 16.46px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon178 {
  	position: absolute;
  	top: 50.22px;
  	left: 42.83px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon179 {
  	position: absolute;
  	top: 68.52px;
  	left: 81.05px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon180 {
  	position: absolute;
  	top: 42.84px;
  	left: 82.06px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon181 {
  	position: absolute;
  	top: 20.84px;
  	left: 63.06px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon182 {
  	position: absolute;
  	top: 25.84px;
  	left: 51.06px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon183 {
  	position: absolute;
  	top: 88.84px;
  	left: 41.06px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon184 {
  	position: absolute;
  	top: 81.44px;
  	left: 36.37px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon185 {
  	position: absolute;
  	top: 61.52px;
  	left: 5.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon186 {
  	position: absolute;
  	top: 26.53px;
  	left: 7.84px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon187 {
  	position: absolute;
  	top: 57.75px;
  	left: 41.76px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon188 {
  	position: absolute;
  	top: 76.05px;
  	left: 79.97px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon189 {
  	position: absolute;
  	top: 50.38px;
  	left: 80.99px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon190 {
  	position: absolute;
  	top: 28.38px;
  	left: 61.99px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon191 {
  	position: absolute;
  	top: 33.38px;
  	left: 49.99px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon192 {
  	position: absolute;
  	top: 96.38px;
  	left: 39.99px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon193 {
  	position: absolute;
  	top: 88.97px;
  	left: 35.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon194 {
  	position: absolute;
  	top: 69.06px;
  	left: 4.61px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon195 {
  	position: absolute;
  	top: 34.07px;
  	left: 6.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon196 {
  	position: absolute;
  	top: 63.67px;
  	left: 47.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon197 {
  	position: absolute;
  	top: 38px;
  	left: 48.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon198 {
  	position: absolute;
  	top: 16px;
  	left: 29.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon199 {
  	position: absolute;
  	top: 21px;
  	left: 17.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon200 {
  	position: absolute;
  	top: 84px;
  	left: 7.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon201 {
  	position: absolute;
  	top: 81.97px;
  	left: 85.89px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon202 {
  	position: absolute;
  	top: 56.3px;
  	left: 86.91px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon203 {
  	position: absolute;
  	top: 34.3px;
  	left: 67.91px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon204 {
  	position: absolute;
  	top: 39.3px;
  	left: 55.91px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon205 {
  	position: absolute;
  	top: 102.3px;
  	left: 45.91px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon206 {
  	position: absolute;
  	top: 94.89px;
  	left: 41.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon207 {
  	position: absolute;
  	top: 74.98px;
  	left: 10.54px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon208 {
  	position: absolute;
  	top: 39.99px;
  	left: 12.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon209 {
  	position: absolute;
  	top: 69.59px;
  	left: 40.14px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon210 {
  	position: absolute;
  	top: 87.9px;
  	left: 78.36px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon211 {
  	position: absolute;
  	top: 62.22px;
  	left: 79.37px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon212 {
  	position: absolute;
  	top: 40.22px;
  	left: 60.37px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon213 {
  	position: absolute;
  	top: 45.22px;
  	left: 48.37px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon214 {
  	position: absolute;
  	top: 108.22px;
  	left: 38.37px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon215 {
  	position: absolute;
  	top: 100.81px;
  	left: 33.68px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon216 {
  	position: absolute;
  	top: 80.9px;
  	left: 3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon217 {
  	position: absolute;
  	top: 45.91px;
  	left: 5.15px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon218 {
  	position: absolute;
  	top: 79.82px;
  	left: 52.52px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon219 {
  	position: absolute;
  	top: 54.15px;
  	left: 53.54px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon220 {
  	position: absolute;
  	top: 32.15px;
  	left: 34.54px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon221 {
  	position: absolute;
  	top: 37.15px;
  	left: 22.54px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon222 {
  	position: absolute;
  	top: 100.15px;
  	left: 12.54px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon223 {
  	position: absolute;
  	top: 98.12px;
  	left: 90.74px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon224 {
  	position: absolute;
  	top: 72.45px;
  	left: 91.75px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon225 {
  	position: absolute;
  	top: 50.45px;
  	left: 72.75px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon226 {
  	position: absolute;
  	top: 55.45px;
  	left: 60.75px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon227 {
  	position: absolute;
  	top: 118.45px;
  	left: 50.75px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon228 {
  	position: absolute;
  	top: 111.04px;
  	left: 46.06px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon229 {
  	position: absolute;
  	top: 85.36px;
  	left: 47.08px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon230 {
  	position: absolute;
  	top: 63.36px;
  	left: 28.08px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon231 {
  	position: absolute;
  	top: 68.36px;
  	left: 16.08px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon232 {
  	position: absolute;
  	top: 131.36px;
  	left: 6.08px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon233 {
  	position: absolute;
  	top: 91.13px;
  	left: 15.38px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon234 {
  	position: absolute;
  	top: 56.14px;
  	left: 17.53px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon235 {
  	position: absolute;
  	top: 82.51px;
  	left: 61.13px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon236 {
  	position: absolute;
  	top: 56.84px;
  	left: 62.15px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon237 {
  	position: absolute;
  	top: 34.84px;
  	left: 43.15px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon238 {
  	position: absolute;
  	top: 39.84px;
  	left: 31.15px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon239 {
  	position: absolute;
  	top: 102.84px;
  	left: 21.15px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon240 {
  	position: absolute;
  	top: 100.81px;
  	left: 99.35px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon241 {
  	position: absolute;
  	top: 75.14px;
  	left: 100.36px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon242 {
  	position: absolute;
  	top: 53.14px;
  	left: 81.36px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon243 {
  	position: absolute;
  	top: 58.14px;
  	left: 69.36px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon244 {
  	position: absolute;
  	top: 121.14px;
  	left: 59.36px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon245 {
  	position: absolute;
  	top: 113.73px;
  	left: 54.67px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon246 {
  	position: absolute;
  	top: 88.06px;
  	left: 55.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon247 {
  	position: absolute;
  	top: 66.06px;
  	left: 36.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon248 {
  	position: absolute;
  	top: 71.06px;
  	left: 24.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon249 {
  	position: absolute;
  	top: 134.06px;
  	left: 14.69px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon250 {
  	position: absolute;
  	top: 93.82px;
  	left: 23.99px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon251 {
  	position: absolute;
  	top: 58.83px;
  	left: 26.15px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon252 {
  	position: absolute;
  	top: 67.98px;
  	left: 62.21px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon253 {
  	position: absolute;
  	top: 42.3px;
  	left: 63.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon254 {
  	position: absolute;
  	top: 20.3px;
  	left: 44.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon255 {
  	position: absolute;
  	top: 25.3px;
  	left: 32.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon256 {
  	position: absolute;
  	top: 88.3px;
  	left: 22.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon257 {
  	position: absolute;
  	top: 86.28px;
  	left: 100.43px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon258 {
  	position: absolute;
  	top: 60.6px;
  	left: 101.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon259 {
  	position: absolute;
  	top: 38.6px;
  	left: 82.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon260 {
  	position: absolute;
  	top: 43.6px;
  	left: 70.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon261 {
  	position: absolute;
  	top: 106.6px;
  	left: 60.44px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon262 {
  	position: absolute;
  	top: 99.2px;
  	left: 55.75px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon263 {
  	position: absolute;
  	top: 73.52px;
  	left: 56.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon264 {
  	position: absolute;
  	top: 51.52px;
  	left: 37.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon265 {
  	position: absolute;
  	top: 56.52px;
  	left: 25.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon266 {
  	position: absolute;
  	top: 119.52px;
  	left: 15.77px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon267 {
  	position: absolute;
  	top: 79.28px;
  	left: 25.07px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon268 {
  	position: absolute;
  	top: 44.3px;
  	left: 27.22px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon269 {
  	position: absolute;
  	top: 76.05px;
  	left: 70.28px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon270 {
  	position: absolute;
  	top: 50.38px;
  	left: 71.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon271 {
  	position: absolute;
  	top: 28.38px;
  	left: 52.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon272 {
  	position: absolute;
  	top: 33.38px;
  	left: 40.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon273 {
  	position: absolute;
  	top: 96.38px;
  	left: 30.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon274 {
  	position: absolute;
  	top: 94.35px;
  	left: 108.5px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon275 {
  	position: absolute;
  	top: 68.68px;
  	left: 109.52px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon276 {
  	position: absolute;
  	top: 46.68px;
  	left: 90.52px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon277 {
  	position: absolute;
  	top: 51.68px;
  	left: 78.52px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon278 {
  	position: absolute;
  	top: 114.68px;
  	left: 68.52px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon279 {
  	position: absolute;
  	top: 107.27px;
  	left: 63.82px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon280 {
  	position: absolute;
  	top: 81.6px;
  	left: 64.84px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon281 {
  	position: absolute;
  	top: 59.6px;
  	left: 45.84px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon282 {
  	position: absolute;
  	top: 64.6px;
  	left: 33.84px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon283 {
  	position: absolute;
  	top: 127.6px;
  	left: 23.84px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon284 {
  	position: absolute;
  	top: 87.36px;
  	left: 33.14px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-football-icon285 {
  	position: absolute;
  	top: 52.37px;
  	left: 35.3px;
  	width: 14.3px;
  	height: 14.3px;
  	object-fit: contain;
}
.d-passantenanzahl-datum {
  	align-self: stretch;
  	background-color: #1a482b;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	font-size: 40px;
}
.features {
  	width: 1440px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 80px 80px 100px;
  	box-sizing: border-box;
}
.frame {
  	display: flex;
  	align-items: center;
  	gap: 40px;
}
.d-grafik-daypicker-icon {
  	width: 624px;
  	position: relative;
  	height: 429px;
}
.d-text-daypicker {
  	width: 620px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 20px;
}
.d-home-wie-viele-personen {
  	width: 510px;
  	position: relative;
  	font-weight: 500;
  	font-family: 'Poster Gothic Cond ATF';
  	display: inline-block;
}
.d-home-frame {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 16px;
  	color: #000;
}
.d-button-date {
  	width: 555px;
  	border-radius: 32px;
  	background-color: #fff;
  	border: 1px solid #1a482b;
  	box-sizing: border-box;
  	height: 48px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 32px;
}
.jjjj-mm-dd {
  	position: relative;
  	line-height: 150%;
  	opacity: 0.5;
}
.es-waren-xy-personen-am-jjjj-m-wrapper {
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 18px;
}
.es-waren-xy-container {
  	width: 620px;
  	position: relative;
  	display: inline-block;
  	flex-shrink: 0;
}
.d-footer {
  	align-self: stretch;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 80px 0px;
  	gap: 20px;
  	text-align: center;
  	font-size: 25px;
}
.d-line-footer {
  	width: 762px;
  	position: relative;
  	border-top: 3px solid #fff;
  	box-sizing: border-box;
  	height: 3px;
}
.copywright-2025-sarina-container {
  	position: relative;
}
.sarina-da-ros {
  	margin: 0;
}


.d-daypicker {
  	width: 300px;
  	position: relative;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 32px 0px;
  	box-sizing: border-box;
  	gap: 32px;
  	max-width: 90%;
  	max-height: 90%;
  	text-align: center;
  	font-size: 16px;
  	color: #000;
  	font-family: 'DM Sans';
}
.date-wrapper {
  	align-self: stretch;
  	border-radius: 32px;
  	background-color: #acabab;
  	height: 48px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 0px;
  	box-sizing: border-box;
}
.date {
  	position: relative;
  	line-height: 150%;
  	opacity: 0.5;
}
.date-parent {
  	align-self: stretch;
  	border-radius: 32px;
  	background-color: #acabab;
  	height: 381px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 32px 0px;
  	box-sizing: border-box;
  	font-size: 25px;
}
.d-daypicker-date {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 132px;
  	gap: 10px;
}
.navigate-left-icon {
  	height: 24px;
  	width: 23.9px;
}
.selectordate {
  	display: flex;
  	align-items: center;
  	padding: 5px 8px;
}
.date2 {
  	position: relative;
}
.navigate-right-icon {
  	height: 24px;
  	width: 24px;
}
.calender {
  	align-self: stretch;
  	border-radius: 32px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 32px;
  	gap: 8px;
  	font-size: 16px;
}
.row {
  	display: flex;
  	align-items: center;
  	opacity: 0.5;
}
.date-day {
  	width: 40px;
  	position: relative;
  	height: 32px;
}
.date3 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 13px);
  	line-height: 150%;
}
.date4 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 8px);
  	line-height: 150%;
}
.date5 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 9px);
  	line-height: 150%;
}
.date6 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 12px);
  	line-height: 150%;
}
.date8 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 10px);
  	line-height: 150%;
}
.date9 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 11px);
  	line-height: 150%;
}
.d-daypicker-row {
  	display: flex;
  	align-items: center;
}
.calender-button {
  	position: absolute;
  	top: calc(50% - 20px);
  	left: calc(50% - 21px);
  	width: 43px;
  	height: 41px;
  	overflow: hidden;
}
.selection {
  	position: absolute;
  	top: calc(50% - 15.5px);
  	left: calc(50% - 15.5px);
  	border-radius: 50px;
  	width: 32px;
  	height: 32px;
}
.date10 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 3px);
  	line-height: 150%;
}
.date11 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 5px);
  	line-height: 150%;
}
.date16 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 4px);
  	line-height: 150%;
}
.date20 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 6px);
  	line-height: 150%;
}
.date-day23 {
  	width: 40px;
  	position: relative;
  	height: 24px;
}
.calender-button16 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: calc(50% - 21px);
  	width: 43px;
  	height: 41px;
  	overflow: hidden;
}
.date26 {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 7px);
  	line-height: 150%;
}

